/* .stay{
    display: grid; 
    grid-template-columns: 94% 6%; 
    gap: 2px 0px;     */
/* .slider{
    display:flex;
    flex-direction: column;
    align-items: center;
} */
.stay{
  display:flex;
  flex-direction:row;
  gap:10px;
}

.sliderContainer{
    padding:0 30px 0 28px;
    min-width:0;
}
.slides{
    display:flex;
    overflow: hidden;
}
.slideItem{
    display:flex;
    flex-direction: column;
    align-items: center;
 
    padding:10px 10px 0 10px;
    margin: 5px;
    /* border:1px solid black; */
}


.slideIcon{
    color:rgb(205,205,205);
}
.slideTitle{
    display:inline-block;
    position:relative;
    font-size:12px;
    text-align:center;
}
.slideItem:hover > *{
    color:black;
    cursor:pointer;
}
.slideTitle:hover:after{
    content:'';
    position:absolute;
    width:100%;    
    height: 1px;
    /* top:5px; */
    bottom:0px;
    left: 0;
    color:black;
    background-color: #282929;
    /* transform-origin: bottom right;
    transition: transform 0.25s ease-out; */
  }


.slick-prev:before,
.slick-next:before{
    color:black;
}