.search{
    display:flex;
    padding-left: 10px;

    align-items:center;
    border:1px solid rgb(242, 242, 242);
    border-radius:40px;
    box-shadow:0 2px 4px rgba(0,0,0,0.18);
}
.searchItem{

    background-color:white;
    border:none;
    height:inherit;

    padding-left:12px;
    padding-right:12px;

    cursor:pointer;
    font-size:14px;
    font-weight:bold;
}

.searchItem:last-child{
    height:inherit;
    background-color:white;
}
button.searchItem:nth-of-type(3) {
    border: none;
    font-weight: normal;
}
.searchItem{
    display:flex;
    flex-direction:row;
}
.searchTabs{
    /* align-items:center; */
    display: flex;
padding-left: 10px;
align-items: center;
/* border: 1px solid rgb(242, 242, 242); */
/* border-radius: 40px; */
/* box-shadow: 0 2px 4px rgba(0,0,0,0.18); */
}
.searchTab {
    margin: 0px 8px;
    padding:0px 0px 0px 0px;
    position:relative;
    display: block;
}
.searchTab button{
    border:none;
    padding:0px;
    background:transparent;
    font-weight: normal;
    font-size: 14px;
}
.searchTab:after{
    content:"";
    position:absolute;
    width:100%;
    transform:    scaleX(0);
    height:2px;
    top: calc(100% + 8px);
    left: 0;
    background-color:var(--black-hover2);
    transform-origin: center;
    transition:
    transform 0.25s ease-out;
}
.searchTab:hover:after{
    transform:scaleX(1);    
}
.clickedTab:after{
    content:"";
    position:absolute;
    width:100%;
    height:2px;
    top: calc(100% + 8px);
    left: 0;
    background-color:var(--black-hover2);
    /* transform-origin: center; */
}
.searchButton{
    padding:0px 1px 0px 0px;
    color:var(--airbnb-color);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-right: none;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
}
.searchTabs .buttonTop{
    background-color:white;
    border:none;
   padding:0px;
}