.searchResult {
  gap: 5px;
  display: flex;
  flex-direction: row-reverse;
}
.searchResult .destinations-results {
  width: 40vw;
  background-color: white;
}
.searchResult .destinations-results .header {
  align-items: center;
  margin-bottom: 20px;
}
.searchResult .map {
  width: 60vw;
}

.destinations-results .destinations .destinationItems {
  height: 100vh;
  overflow-y: scroll;
}
.destination-container {
  overflow-y: scroll;
}
.close {
  display: none;
}
.open {
  display: block;
  height: calc(100vh - 150px);
}
.open-destinations {
  display: unset;
}
.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  position: absolute;
  bottom: 50px;
}
