

.searchResultContainer{
    /* padding-left:30px;
    padding-right:30px; */
    height:90vh;
    /* overflow-y:hidden; */
}
.searchResult{
    gap:5px;
    display: flex;
    flex-direction: row-reverse;
}
.searchResult .destinations{
    width:40vw;
}
.searchResult .map{
    width:60vw;
}
.destinations .container{
    height:90vh;
    overflow-y:scroll;
}