
.login{
    display:grid;
    place-items:center;
    margin:50px 0px;
}
.login-container{
    display:flex;
    flex-direction:column;
    width: 30vw;
    gap: 0px;
    border: 1px solid #b3b0b0;
    border-radius: 7px;
}
.login-header{
    text-align:center;
    border-bottom:1px solid var(--border-grey);
    padding:20px;
  }
.login-header button:disabled{
  color:black;
  font-weight:normal;
}
.login-header button:disabled:hover{
  cursor:unset;
  text-decoration:none;
}
.login-content{
  display:flex;
  flex-direction:column;
  margin:20px;
}
.login-content > *{
  margin:10px;

}
.signUp-content{
  display:flex;
  flex-direction:column;
  gap:10px;
}
.authInput,
.login_btn{
  height:30px;
  padding:5px;
  border-radius:7px;
  outline:1px solid var(--bg-grey);
  border-style:none;
}
.authInput:focus-visible
{
  outline:2px solid black;
}
.login_btn{
  height:40px;
  color:white;
  /* transition: 0.5s;
  background-size: 200% auto;
  background-image:linear-gradient( to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100% ); */
  border: none;  
}
/* .login_btn:hover, 
.searchOption .searchButton:hover{
  background-position: right center;
  transform: scale(1.01);
  background-image: linear-gradient(90deg, hsla(356, 92%, 70%, 1) 0%, hsla(343, 100%, 66%, 1) 25%, hsla(346, 100%, 64%, 1) 50%, hsla(349, 100%, 61%, 1) 75%, hsla(349, 94%, 55%, 1) 100%);
  

}
.login_btn:active,
.searchOption .searchButton:active{
  transform: translateY(4px);
} */
.switch-form{
  border:none;
  background-color:transparent;
  color:var(--airbnb-color);
  font-size:16px;
  font-weight:bold;
}
.switch-form:hover{
  cursor:pointer;
  text-decoration:underline;
}