.destinationItem{
   height:fit-content;
    margin:10px;
    flex-grow:1; 
    box-sizing:border-box;
    flex-basis:250px;
    min-width:200px;
    
}
.destinationGal{
    position:relative;
    margin-bottom:3px;
  height:50%;
  border-radius:8px;
  overflow:hidden;
}
.destinationImg{
  height:300px;
    object-fit:cover;
}
.galBtns{    
    position:absolute;
    top:10px;
    right:5px;  
}
.galBtn{
    background:transparent;
    border:none;
}
.heartBtn{
    font-size:32px;
    fill:rgba(0, 0, 0, 0.5);
    stroke:#FFFFFF;
    stroke-width:1px;
}
.leftBtn{
    position:absolute;
    left:10px;
    z-index:2;
}
.rightBtn{
    position:absolute;
    right:10px;
    z-index:2;
}
/*.slick-arrow,
.slick-prev,
.slick-next,
.slick-prev:hover,
.slick-next:hover,

{
    border-radius:50% !important;
    background-color: transparent !important;
}*/

.slick-dots{
    position:absolute;
    bottom:5px!important;
}
.slick-dots li button::before {
    font-size: 16px;
    color:#fff!important;
    opacity: 0.7;
  }

  .slick-dots li.slick-active button::before {
    color: white!important;
    opacity: 1;
  }
.destinationDetails{
    display:grid;
    grid-template-rows: repeat(2, 1fr);
    gap:2px 0px;
}
.destination details > *{
    font-size:15px;
}

.destinationHeader{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.destinationName a{
    text-decoration: none;
    font-weight: bold;
    color:rgb(37,40,54);
}
.destinationName:hover{
    cursor: pointer;
}
.destinationRating{
    display:flex;
    padding-top: 1px;
    justify-content: center;
}
