@import url('https://rsms.me/inter/inter.css');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root{
  --airbnb-color:#FF385C;
  --black-hover2: rgb(34,34,34);
  --border-grey: rgb(224, 224, 224);
  --bg-grey:rgb(235, 235, 235);
  --dark-grey:rgb(231,231,231);
  --grey-hover1:#FFFFFF;
  --grey-hover2: rgb(221, 221,221);
  --grey-hover3:rgb(235, 235, 235);
  --grey-hover4:rgb(247, 247, 247);
  --white:rgb(255,255,255);
}
html,body, button { font-family: "Inter","Montserrat", sans-serif;
font-weight:regular }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: orange;        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid orange;  /* creates padding around scroll thumb */
}
/* .App {
  background-color: #282c34;
  max-width:1024px; 
  padding: 30px 80px;
} */
.max-width{
  max-width: 1024px;
}
.page-padding{
  padding:30px 80px;
}
.body-text{
font-size:15px;
}
.center{
  margin:auto;
}
.bold-text{
  font-weight:bold;
}
.light-text{
  font-weight:light;
}
.vertical-separator{
  box-sizing:border-box;
  background-color:rgb(221,221,221);
  width:1px;
  padding:12px 0px;
}
.pointer{
  cursor:pointer;
}

@media (max-width: 743px){
  .page-padding{
    padding: 14px 24px 0px;
  }
}
@media (max-width: 743px){
  .page-padding{
    padding: 14px 24px 0px;
  }
  a[href="/"]{
    display: none;
  }
  .rightHeaderGroup{
    display:none;
  }
  .headerCenter{
    width:100%;
    display:flex;
    flex-direction:column;  
  }
  .search{
    width:100%;
    flex-direction: row-reverse;
    justify-content: flex-end;
/*     align-items: baseline; */
  }
  .searchSection {
  flex-direction: column;
  display: flex;
    gap:2px;
    padding:5px 0px;
  }
  
  .searchPrompt{
    padding-left: 10px;
  }
  .searchItems{
    display:flex;
    flex-direction: row;
  }
  .searchItem{
    font-size:12px;    
    font-weight:normal;    
  }  
  .searchButton svg:first-child{
    color:black;
     -webkit-filter: invert(-0.25); /* safari 6.0 - 9.0 */
          /*! filter: invert(100%); */
  }
  .searchOptionsContainer{
    width:100%;
  }
  .searchOptions{
    width:100%;
    flex-direction:column;
    align-items:flex-start;
  } 

  .homeFooter{
    display:none;
  } 

  /* HERER */
  .searchOptionsContainer{
    width:inherit;    
    flex-basis: 100%;
  }
  .searchOptions{
    flex-direction:column;
    align-items:flex-start;
    gap: 10px;
    padding: 10px 5px;
  }
  .searchOption{
    width: 100%;
  }
  .destination,
  .dates,
  .guests{
    padding:0px;
  }
  .destination > * {
    padding-left:20px;
  }
  .destination:first-child{
    padding-top:5px;
  }
  .destination :last-child{
    padding-bottom:5px;
  }
  .guests > *{
    padding-left:20px;
  }
  .guests:first-child{
    padding-top: 5px;
   }
  .guests:last-child{
    padding-bottom:5px;
  }
  .guests.searchOption{
    flex-direction:column;
  }  
  .tabPopout{
    position:unset;
    height:min-content
  }
}
/* end Header */

/*  Logo styles*/
@media (max-width: 1129px){
  .siteLogo svg:last-child{
    display:none;
  }
}
/* Logo styles end */


@media (min-width: 744px){
  .page-padding{
    padding:0px 40px;
  }
  .searchItems{
    display: flex;
    flex-direction: row;
  }
  .searchPrompt{
    display:none;    
  }

}