@import url('https://rsms.me/inter/inter.css');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root{
  --airbnb-color:#FF385C;
  --black-hover2: rgb(34,34,34);
  --border-grey: rgb(224, 224, 224);
  --bg-grey:rgb(235, 235, 235);
  --dark-grey:rgb(231,231,231);
  --grey-hover1:#FFFFFF;
  --grey-hover2: rgb(221, 221,221);
  --grey-hover3:rgb(235, 235, 235);
  --grey-hover4:rgb(247, 247, 247);
  --white:rgb(255,255,255);
}
html,body, button { font-family: "Inter","Montserrat", sans-serif;
}
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: orange;        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid orange;  /* creates padding around scroll thumb */
}
/* .App {
  background-color: #282c34;
  max-width:1024px; 
  padding: 30px 80px;
} */
.max-width{
  max-width: 1024px;
}
.page-padding{
  padding:30px 80px;
}
.body-text{
font-size:15px;
}
.center{
  margin:auto;
}
.bold-text{
  font-weight:bold;
}
.light-text{
  font-weight:light;
}
.vertical-separator{
  box-sizing:border-box;
  background-color:rgb(221,221,221);
  width:1px;
  padding:12px 0px;
}
.pointer{
  cursor:pointer;
}

@media (max-width:345px){
  .searchSection .searchItems{
    display:none;
  }
}

@media (max-width:381px){
 
  .dates.searchOption{
    flex-direction: column;
  }
}@media (max-width:381px){
  .dates{
    background-color:white;
  }
  .dates.searchOption{
    flex-direction: column;
  }
}
@media (max-width: 743px){
  .headerContainer{
    border-bottom:0px;
 }
  .page-padding{
    padding: 14px 24px 0px;
  }
  .header {
    margin-top:0px;   
  }
  a[href="/"]{
    display: none;
  }
  .rightHeaderGroup{
    display:none;
  }
  .headerCenter{
    width:100%;
    display:flex;
    flex-direction:column;  
    margin-bottom:0px;
  }
  .search{
    width:100%;
    flex-direction: row-reverse;
    justify-content: flex-end;
/*     align-items: baseline; */
  }
  .searchSection {
  flex-direction: column;
  display: flex;
    gap:2px;
    padding:5px 0px;
    width: 100%;
  }
  
  .searchPrompt{
    padding-left: 10px;
  }
  .searchItems{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    width:fit-content;
  }
  .searchItem{
    font-size:12px;    
    font-weight:normal;    
  }  
  .searchButton svg:first-child{
    color:black;
     -webkit-filter: invert(-0.25); /* safari 6.0 - 9.0 */
          /*! filter: invert(100%); */
  }
  .searchOptionsContainer{
    width:100%;
  }
  .searchOptions{
    width:100%;
    flex-direction:column;
    align-items:flex-start;
  } 

  .search .filter .filterButton {
    border:none;
    justify-content: flex-end;

    padding:0px;
    padding-right: 10px;
  }
 .search .filter .filterButton svg {
  padding:6px;
   border:1px solid var(--border-grey) ;
   border-radius:50%;
   
  }
  .search .filter .filterButton span{
    display: none;
  }

 

  /* Expanded search styles */
  .searchOptionsContainer{
    width:inherit;    
    flex-basis: 100%;
  }
  .searchOptions{
    flex-direction:column;
    align-items:flex-start;
    gap: 10px;
    padding: 10px 5px;
    margin-right:0px;
    width: auto;
  }
  .searchOption{
    width: 100%;
  }
  .destination,
  .dates,
  .guests{
    padding:0px;
  }
  .destination.searchOption,
  .guests.searchOption{
    width:100%;
  }
  .dates.searchOption{
    flex:1 1 0;
  }
  .destination > * {
    padding-left:20px;
  }
  .destination:first-child{
    padding-top:5px;
  }
  .destination :last-child{
    padding-bottom:5px;
  }
  .guests > *{
    padding-left:20px;
  }
  .guests:first-child{
    padding-top: 5px;
   }
  .guests:last-child{
    padding-bottom:5px;
  }
  .guests.searchOption{
    flex-direction:column;
  }  
  .tabPopout{
    position:unset;
    height:min-content
  }
  
  .dateSelectorContainer{
    padding-bottom: 0px;
    width:80vw;
    margin:auto;   
  }
  .rdrMonth{
    padding:0 0 10px 0px;
  }
  .staysSelectorContainer,  
  .guestSelectorContainer{
    margin-top: 5px;
  }
  .guestSelectorContainer{
    margin-bottom:7px;
  }
  .searchItem.searchOption.searchButton{
    padding:10px;
  }
   .staysSelectorContainer{
    height:150px;
  }

  /* guestPicker mobile styles */
  .guests.searchOption.pointer:hover{
    background-color: transparent;
  }
  .guestPickerContainer{
      margin-bottom:5px;    
      padding-left:0px;
      border-radius:40px;
  }
  .guestPickerContainer:hover{    
    background-color: var(--grey-hover2);
  }
  .guestPickerContainer label,
  .guestPickerContainer input{
    padding-left:20px;
  }
  .guestPickerContainer label{ 
    border-radius: 40px 40px 0 0;
    padding-top:15px;
  }
  .guestPickerContainer input{
    border-radius: 0 0 40px 40px;
    padding-bottom: 10px;
  }

  /* Search page mobile styles */
  .searchOptions .destination.searchOption{
    border-radius:40px;
  }
  .searchOptions .destination.searchOption input{
    border-radius: 0 0 40px 40px;
  }
  .searchResult{
    gap:0px;
    display:block;
    height: inherit;
  }
  .searchResult > *{
    display:block;
    width:inherit;
  }  
  .searchResult .map{
    /*! display:none; */
    height: 100%;
    width: 100%;
  }
  .searchResult .destinations-results{
    width:100%;
    padding:0px;
    position:fixed;
    bottom:0;
    left: 0;
    right: 0;
  }
  .searchResultContainer .searchResult .header button{
    padding:20px;
    background:none;
    border:none;    
  }
  /* .searchResult .destinations .container{
    display:none;   
  } */
  .popOutRow{
    margin-left:0px;
  }
  .staysSelectorContainer{
    grid-template-columns: repeat(2, 50%);
    gap: 0px;
  }  
  .dates .date{
    flex: 1 1 0;
  }   
  .checkIn input,
  .checkOut input{
    min-width:0;    
  }
  .rdrMonth {
    padding: 0 0 10px 0px;
    margin:auto;  
  }
  .guests.searchOption.activeTab{
    background-color:var(--grey-bg3);
    margin-bottom:0px;
    padding-bottom:0px;
    box-shadow:none;
  }
  .guests.searchOption.activeTab .guestPickerContainer{
    background-color:white;
  }
  .guests.searchOption.activeTab:hover{
    background-color:var(--grey-bg3) !important;
  }
  .home {
    padding-top:0px;
  }
  .stay .filter{
    display:none;
  }
  .webFooter{
    display:none;
  }
  .page-padding.homeFooter{
    padding-top:0px;
  }
  .mobileFooter{
    gap:30px;
  }
  /* .searchResult .destinations-results{
    height:calc(100vh - 80px);
  } */
  .searchResult .destinations-results .header{
    background-color:white;
    padding-left:10px;
    padding-right:10px;
    justify-content: center;
    border-top:1px solid var(--bg-grey);
    border-top-right-radius:20px;
    border-top-left-radius:20px;    
  }

  .searchResult .destinations-results .header::before{
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    width: 40px;
    height: 4px; 
    background-color:var(--bg-grey);
  }
  .searchResultContainer .searchResult .destinations-results .header button:disabled,
  .searchResultContainer .searchResult .destinations-results .header button{
    background:none;
    border:none;    
    color:black;    
  }
  /* .destination-container{
    height:100%;
  } */
}
/* end Header */

/*  Logo styles*/
@media (max-width: 1129px){
  .siteLogo svg:last-child{
    display:none;
  }
}
/* Logo styles end */


@media (min-width: 744px){
  
  .page-padding{
    padding:0px 40px;
  }
  .searchItems{
    display: flex;
    flex-direction: row;
  }
  .searchPrompt{
    display:none;    
  }
  .mobileFooter{
    display:none;
  }
  .search .filter{
    display:none;
  }
  .searchResultContainer .searchResult .header button:disabled,
  .searchResultContainer .searchResult .header button{
    background:none;
    border:none;    
    color:black;    
  }
  
}